/* body * {
  border: 2px solid burlywood;
} */

body {
  display: grid;
  grid-template: 4fr 1fr / 1fr 1fr;
  gap: 8rem;
  padding: 4rem 8rem;
  margin: 0;
  position: relative;

  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  height: 100vh;
  background-image: url(./assets/ship-edit.jpg);
  background-size: cover;
  background-position: center center;
}

body > section {
  display: grid;
  grid-template: 1fr 1fr 10fr/ 2fr 8fr;
  gap: 0.3rem;
  padding: 0.5rem 7rem 0.5rem 1rem;
  z-index: 1;
}

.config-dialog {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  gap: 1rem;
  background: rgba(34, 100, 175, 0.8);
  border: 0.2rem solid rgb(17, 50, 87);
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.config-dialog > div {
  display: flex;
  justify-content: space-between;
}

.config-dialog span {
  align-self: center;
  font-weight: 800;
  color: white;
  background: rgba(248, 71, 47, 0.8);
  margin-left: 0.5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 10rem;
  cursor: pointer;
}

.config-dialog span:hover {
  background: rgb(248, 71, 47);
}

.config-dialog button,
.config-dialog select {
  align-self: center;
  font-size: 1.05rem;
  text-align: center;
  color: white;
  width: 7.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(17, 50, 87);
}

.config-dialog button:hover,
.config-dialog select:hover {
  border: 0.1rem solid white;
}

.config-dialog fieldset {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border-left: 0.2rem solid rgb(17, 50, 87);
  border-right: 0.2rem solid rgb(17, 50, 87);
  background: rgba(17, 50, 87, 0.4);
}

fieldset > button {
  height: 1.5rem;
}

legend {
  font-size: 1.2rem;
  color: white;
  font-weight: 800;
  padding-left: 0.2rem;
  cursor: context-menu;
}

.config-box {
  width: fit-content;
}

.config-box > button {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  height: 2rem;
  background: linear-gradient(to right, rgba(5, 6, 8, 0.8), rgba(39, 114, 199, 0.8));
  opacity: 0.8;
  cursor: pointer;
  transition:
    background 0.5s ease-out,
    color 0.5s ease-out,
    transform 0.3s ease-in-out;
}

.config-box > button:hover {
  background: rgb(34, 100, 175);
  border: 0.1rem solid white;
  transform: scale(1.05);
}

.config-box svg {
  width: 1.8rem;
}

.config-box > button:active {
  background: rgb(17, 50, 87);
}

h2 {
  grid-row: span 1;
  grid-column: 2 / -1;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.25rem 1rem 0 1rem;
  justify-self: center;
  background: rgba(255, 255, 255, 0.4);
  border-top: 0.3rem solid rgb(0, 0, 0);
  border-bottom: 0.3rem solid rgb(0, 0, 0);
  cursor: context-menu;
  transition: transform 0.3s ease-in-out;
}

h2:hover {
  background: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}

.head,
.tail {
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  cursor: context-menu;
}

.head {
  align-self: flex-end;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.tail {
  flex-direction: column;
  justify-self: flex-end;
  grid-row: 3 / -1;
}

.head > div,
.tail > div {
  flex: 1 1 auto;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 600;
  min-width: 2rem;
  min-height: 2rem;
  transition: transform 0.1s ease-in;
}

.head > div:hover,
.tail > div:hover {
  font-weight: 800;
  transform: scale(1.2);
}

.admiral-grounds,
.ai-grounds {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  transition: transform 0.25s ease-in-out;
}

.scaleDivs {
  transform: scale(1.02);
}

.admiral-grounds:hover,
.ai-grounds:hover {
  transform: scale(1.02);
}

.admiral-grounds > div,
.ai-grounds > div {
  grid-column: span 1;
  grid-row: span 1;
  min-width: 2rem;
  min-height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 800;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.admiral-grounds span,
.ai-grounds span {
  font-size: 1.7rem;
}

.admiral-grounds > div:hover,
.ai-grounds > div:hover {
  transform: scale(1.1);
}

.admiral-grounds > div:first-child,
.ai-grounds > div:first-child {
  border-top-left-radius: 1rem;
}

.admiral-grounds > div:nth-child(10),
.ai-grounds > div:nth-child(10) {
  border-top-right-radius: 1rem;
}

.admiral-grounds > div:nth-last-child(10),
.ai-grounds > div:nth-last-child(10) {
  border-bottom-left-radius: 1rem;
}

.admiral-grounds > div:nth-last-child(1),
.ai-grounds > div:nth-last-child(1) {
  border-bottom-right-radius: 1rem;
}

body > div:last-child {
  grid-column: 1 / -1;
  align-self: flex-start;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 600;
  border: 0.2rem solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 3rem;
  width: 40rem;
  cursor: context-menu;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

body > div:last-child:hover {
  transform: scale(1.05);
  border: 0.2rem solid rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.7);
}

body > div:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.admiral-grounds img,
.ai-grounds img {
  position: absolute;
  left: 1%;
  bottom: 0.5%;
  pointer-events: none;
}

.config-dialog img {
  align-self: flex-end;
  background: rgba(17, 50, 87, 0.8);
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.config-dialog img:hover {
  border: 0.1rem solid white;
  background: linear-gradient(to bottom right, rgb(17, 50, 87), rgba(255, 255, 0, 0.4));
}

svg {
  fill: white;
  width: 1.7rem;
}

@media (max-width: 1570px) {
  body {
    gap: 6rem;
    padding: 6rem 6rem;
  }

  body > div:last-child {
    width: 35rem;
  }
  .admiral-grounds,
  .ai-grounds {
    align-self: flex-start;
  }
  .tail,
  .head {
    font-size: 1.1rem;
  }
  .tail {
    align-self: flex-start;
  }
  .head > div,
  .tail > div {
    padding-top: 0.2rem;
  }
}

@media (max-width: 1270px) {
  body {
    gap: 3rem;
    padding: 8rem 4rem;
  }

  body > div:last-child {
    width: 30rem;
    align-self: center;
  }

  body > section {
    padding: 0.5rem 5rem 0.5rem 0.5rem;
  }

  .admiral-grounds span,
  .ai-grounds span {
    font-size: 1.2rem;
  }
}

@media (max-width: 1110px) {
  body {
    gap: 1rem;
    padding: 8rem 1rem;
    height: 100%;
  }

  body > section {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  body > div:last-child {
    width: 28rem;
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  body {
    gap: 0.3rem;
    padding: 8rem 0.2rem;
    background-image: url(./assets/verticalship.jpg);
  }

  body > section {
    padding: 0.5rem;
  }

  body > div:last-child {
    width: 25rem;
    align-self: flex-start;
  }

  .config-dialog {
    background: rgba(46, 46, 46, 0.8);
    border: 0.2rem solid rgb(143, 109, 61);
  }

  .config-dialog button,
  .config-dialog select {
    background: rgb(143, 109, 61);
  }

  .config-dialog fieldset {
    background: rgba(95, 73, 43, 0.4);
    border-left: 0.2rem solid rgb(143, 109, 61);
    border-right: 0.2rem solid rgb(143, 109, 61);
  }

  .config-box > button {
    padding: 0.1rem;
    background: linear-gradient(to right, rgba(5, 6, 8, 0.8), rgba(221, 166, 88, 0.8));
  }

  .config-box > button:hover {
    background: rgb(185, 139, 74);
  }

  .config-dialog img {
    background: rgba(95, 73, 43, 0.6);
  }

  .config-dialog img:hover {
    background: linear-gradient(to bottom right, rgb(48, 37, 22), rgba(255, 255, 0, 0.5));
  }
}

@media (max-width: 765px) {
  body {
    grid-template: repeat(2, 4fr) 1fr / 1fr;
    padding: 0;
  }

  body > section {
    grid-template: 1fr 1fr 10fr/ 1fr 8fr;
    padding-right: 1.5rem;
    height: 27rem;
  }
}

@media (max-width: 420px) {
  .config-dialog {
    left: 53%;
  }
}

@media (max-width: 390px) {
  .config-dialog {
    left: 57%;
  }
}

@media (max-width: 290px) {
  .config-dialog {
    left: 78%;
  }
}
