* {
  letter-spacing: 0.1rem;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding: 2rem;
  gap: 2rem;
  height: 100vh;
  margin: 0;

  background-image: url(./assets/admiral-edit.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 35rem;
  gap: 3rem;
  border: 0.3rem solid white;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  animation: borderTransition 7s infinite alternate;
}

@keyframes borderTransition {
  0% {
    border-color: rgba(152, 199, 230, 0.6);
  }
  50% {
    border-color: rgba(152, 199, 230, 0.15);
  }
  100% {
    border-color: rgba(152, 199, 230, 0.6);
  }
}

section:hover {
  transform: scale(1.02);
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 0.2rem solid white;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  width: 12rem;
  animation: borderBottomTransition 7s infinite alternate;
}

@keyframes borderBottomTransition {
  0% {
    border-color: rgba(152, 199, 230, 0.8);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    border-color: rgba(152, 199, 230, 0.8);
  }
}

input[type="text"]:hover {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  color: black;
}

h1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 10rem;
  border-radius: 5rem;
  padding: 1rem 1rem 0 1rem;
  cursor: context-menu;
  z-index: 1;
  animation: colorTransition 7s infinite alternate;
}

@keyframes colorTransition {
  0% {
    background: rgba(152, 199, 230, 0.6);
  }
  50% {
    background: rgba(152, 199, 230, 0.15);
  }
  100% {
    background: rgba(152, 199, 230, 0.6);
  }
}

button {
  background: black;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border-radius: 5rem;
  border-color: white;
  border-width: 0.2rem;
  color: white;
  transition: transform 0.2s ease-in;
}

button:hover {
  transform: scale(1.02);
  color: rgb(192, 191, 191);
  cursor: pointer;
}

body > div:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

a {
  color: white;
}
